.cal{
    width : 30vw;
    float : left;
    margin : 1vw;
}

.car { 
    float: right;
    width : 55vw;
    margin : 1vw;
    height : 60vh;

}
.content {
    width : auto;
    min-width: 50vw;
    height: 75vh;
}
.t{
    color: 50vw;
    
}
.op{
    color: black;
}