
<mat-card [formGroup] = "reservationFormGroup">
    <mat-card-content >
        <p>Edit Machine Choice</p>
        <mat-form-field appearance="fill" style="width:20vw">
            <mat-label> Machine name</mat-label>
            <mat-select formControlName="selectedMachineControl"  required>
        <mat-option *ngFor="let mac of machine" [value]='mac' class="op">{{mac}}</mat-option>
        </mat-select>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content>
        <p>Edit Start Time</p>
        <div fxLayout="row">
        <mat-form-field appearance="fill" style="width:20vw">
            <mat-label> Opening hour</mat-label>
            <mat-select formControlName="startTimeControl" required>
                <mat-option value="1" class="op">1</mat-option>
                <mat-option value ="2" class="op">2</mat-option>
                <mat-option value ="3" class="op">3</mat-option>
                <mat-option value ="4" class="op">4</mat-option>
                <mat-option value ="5" class="op">5</mat-option>
                <mat-option value ="6" class="op">6</mat-option>
                <mat-option value ="7" class="op">7</mat-option>
                <mat-option value ="8" class="op">8</mat-option>
                <mat-option value ="9" class="op">9</mat-option>
                <mat-option value ="10" class="op">10</mat-option>
                <mat-option value ="11" class="op">11</mat-option>
                <mat-option value ="12" class="op">12</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width:9vw">
            <mat-label> AM or PM?</mat-label>
            <mat-select formControlName="AMPMControlS" >
                <mat-option value="1" class="op">AM</mat-option>
                <mat-option value="2" class="op">PM</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    </mat-card-content>
    <mat-card-content>
        <p>Edit End Time</p>
        <div fxLayout="row">
            <mat-form-field appearance="fill" style="width:20vw">
                <mat-label> Ending hour</mat-label>
                <mat-select formControlName="endTimeControl" required>
                    <mat-option value="1" class="op">1</mat-option>
                    <mat-option value ="2" class="op">2</mat-option>
                    <mat-option value ="3" class="op">3</mat-option>
                    <mat-option value ="4" class="op">4</mat-option>
                    <mat-option value ="5" class="op">5</mat-option>
                    <mat-option value ="6" class="op">6</mat-option>
                    <mat-option value ="7" class="op">7</mat-option>
                    <mat-option value ="8" class="op">8</mat-option>
                    <mat-option value ="9" class="op">9</mat-option>
                    <mat-option value ="10" class="op">10</mat-option>
                    <mat-option value ="11" class="op">11</mat-option>
                    <mat-option value ="12" class="op">12</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width:9vw">
                <mat-label> AM or PM?</mat-label>
                <mat-select formControlName="AMPMControlE" >
                    <mat-option value="1" class="op">AM</mat-option>
                    <mat-option value="2" class="op">PM</mat-option>
                </mat-select>
            </mat-form-field>
            </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="saveChanges()">Save Changes</button>
    </mat-card-actions>
</mat-card>