.c1 {
    font-variant: normal;
    font-size: x-large;
}
.mat-raised-button{
    font-size: x-small;
}
.class1 {
    position: relative;
    padding-left: 0vh;
}

.class2 {
    position: relative;
    padding-left: 5vh;
}